.aws/
.boto
.bundle/
.docker/
.ipython/
.jupyter/
.DS_Store
.vim/plugged
.vim/.netrwhist

# iTerm2 makes sockets and puts them in it's config path
.config/iterm2/AppSupport

# Compiled nvim plugin bundle
.config/nvim/plugin/packer_compiled.lua

# Zed makes temp files
.config/zed/.tmp*
.config/zed/embeddings
.config/zed/conversations

# Too noisy
.tmux-status.conf
.wget-hsts
.htoprc

# Tide shites all over this file frequently, no need to save it then.
.config/fish/fish_variables
.config/fish/fishd*

# Yarnrc is mostly useless to me
.yarnrc

# These might contain credentials or tokens:
.netrc
.config/hub
.ngrok2
.kube

# nvim undo and tem files
undodir

# no need to sync log files
**/*.log
.config/zed/prompts
