# Will include lambda-specific config if it exists
# that config overrides gpg signingkey

[user]
	name = Natik Gadzhi
	email = natik@respawn.io
	signingkey = ~/.ssh/id_ed25519.pub
[push]
	default = matching
	autoSetupRemote = true
[github]
	user = natikgadzhi
[ghi]
	token = !security find-internet-password -a natikgadzhgi -s github.com -l 'ghi token' -w
[core]
	editor = zed --wait
	autocrlf = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	rebase = true
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[gpg]
	format = ssh
[tag]
	gpgsign = true
