[user]
	name = Nate Gadzhibalaev
	email = nate@respawn.io
	signingKey = 00CD1494367612CD
[push]
	default = matching
[github]
	user = xnutsive
[ghi]
	token = !security find-internet-password -a xnutsive -s github.com -l 'ghi token' -w
[core]
	editor = vim
	autocrlf = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	rebase = true
[commit]
	gpgsign = true
