.aws/
.boto
.bundle/
.docker/
.ipython/
.jupyter/
.kaggle/
Library/
.DS_Store
.vim/plugged
.vim/.netrwhist

# Too noisy
.tmux-status.conf
.wget-hsts
.htoprc

# Yarnrc is mostly useless to me
.yarnrc

# These might contain credentials or tokens:
.netrc
.config/hub
.ngrok2
.kube

# nvim undo and tem files
undodir
